@font-face {
    font-family: 'squealerregular';
    src: url('fonts/squealer-webfont.eot');
    src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/squealer-webfont.woff2') format('woff2'),
    url('fonts/squealer-webfont.woff') format('woff'),
    url('fonts/squealer-webfont.ttf') format('truetype'),
    url('fonts/squealer-webfont.svg#squealerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    display: block;
    background: #dd6123;
    background: -moz-linear-gradient(left, #dd6123 0%, #dd4900 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dd6123), color-stop(100%, #dd4900));
    background: -webkit-linear-gradient(left, #dd6123 0%, #dd4900 100%);
    background: -o-linear-gradient(left, #dd6123 0%, #dd4900 100%);
    background: -ms-linear-gradient(left, #dd6123 0%, #dd4900 100%);
    background: linear-gradient(to right, #dd6123 0%, #dd4900 100%);
    color: white;
    position: relative;
}

a {
    color: white;
}

a:hover, a:active, a:visited {
    color: lightgrey;
}

h1 {
    font-family: 'squealerregular', 'proxima-nova','helvetica neue', serif;
    font-size: 7em;
    line-height: 1.3;
    font-weight: 400;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-family: 'proxima-nova','helvetica neue', serif;
    font-size: 3em;
    line-height: 1.3;
    font-weight: 400;
    color: white;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    padding: 0 20px;
}

#title-wrapper {
    margin-top: 70px;
    margin-bottom: 40px;
    display: block;
    z-index: 100;
    position: relative;
    width: 100%;
    height: auto;
}

#title-wrapper a {
    color: white;
}
