<footer class="text-sm px-8 text-center flex-none py-4">
    <p class="text-white">Disclaimer: This site is fan made and not affiliated with <a class="text-orange" href="https://hacktoberfest.digitalocean.com/" target="_blank">Hacktoberfest</a>.</p>
</footer>
