<footer class="f6 ph2 tc flex-none">
    <p class="white">Disclaimer: This site is fan made and not affiliated with <a class="orange" href="https://hacktoberfest.digitalocean.com/" target="_blank">Hacktoberfest</a>.</p>
</footer>
