# Node stuff
npm-debug.log
node_modules
# Favour yarn.lock, heroku fails if both included
package-lock.json

# API keys
.env

# Editors
.idea

# OS metadata
.DS_Store
Thumbs.db

# Compiled js
public/js/main-compiled.js
public/js/main-compiled.js.map
build/

#yarn files
yarn-error.log

#vscode stuff
.vscode
