<h1 class="f1 f-6-ns orange tc"><a class="orange no-underline" href="/">Hacktoberfest Checker</a></h1>

<div class="tc">
    <form action="/" method="get">
        <input class="f5 f5-ns fw4 ba b--white-20 ph2 ph2-ns pv2 pv2-ns w-70 w-30-ns" type="text" name="username" placeholder="GitHub username" value="{{ username }}">
        <button type="submit" class="f5 f5-ns fw4 dib ba b--black-20 bg-orange white ph2 ph2-ns pv2 pv2-ns br2 no-underline pointer">Check</button>
    </form>
</div>

<div class="tc pv4" id="results">
    {{#if error}}
        {{#if username}}
            {{> error}}
        {{/if}}
    {{else}}
        {{> prs}}
    {{/if}}
</div>
