
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="f1 f-6-ns orange tc"><a class="orange no-underline" href="/">Hacktoberfest Checker</a></h1>

<div class="tc pt4">
    <form action="/" class="center h2 w-30-ns w-60-m w-80 flex" method="get">
        <input class="bn br--left br1 ph2 flex-auto" type="text" name="username" placeholder="GitHub username" value="{{ username }}" spellcheck="false">
        <button class="bg-orange bn br--right br1 pv0 ph3 pointer white" type="submit">Check</button>
      <center>  <i class="fa fa-facebook-square" aria-hidden="true"></i></center>
    </form>
</div>

<div class="pv4" id="results">
    {{#if error}}
        {{#if username}}
            {{> error}}
        {{/if}}
    {{else}}
        {{> prs}}
    {{/if}}
</div>
