<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hacktoberfest Checker</title>
    <meta name="description" content="Useful app to check how you're getting on in hacktoberfest">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
</head>
<body>
    <p>{{ prs.length }} / 4</p>
</body>
</html>
