<h1 class="text-center text-5xl md:text-xxl py-8"><a class="text-white no-underline" href="/">Hacktoberfest Checker</a></h1>

<div class="py-4 md:py-8">
    <p class="text-center text-white pb-2">{{ timemessage }}</p>
    <form action="/" class="flex h-8 mx-auto w-5/6 md:w-3/5 lg:w-1/3" method="get">
        <input class="bn br--left rounded-l-sm px-2 flex-auto" type="text" name="username" aria-label="GitHub username" placeholder="GitHub username" value="{{ username }}" spellcheck="false">
        <button class="bn br--right bg-teal-lighter text-pink-darkest rounded-r-sm pv0 px-4 pointer text-white" type="submit">Check</button>
    </form>
</div>

<div class="pb-4" id="results">
    {{#if error}}
        {{> error}}
    {{else}}
        {{> prs}}
    {{/if}}
</div>