<h1 class="f1 f-6-ns tc"><a class="white no-underline" href="/">Hacktoberfest Checker</a></h1>

<div class="tc pb4">
    <p class="white">{{ timemessage }}</p>
    <form action="/" class="center h2 w-30-ns w-60-m w-80 flex" method="get">
        <input class="bn br--left br1 ph2 flex-auto" type="text" name="username" aria-label="GitHub username" placeholder="GitHub username" value="{{ username }}" spellcheck="false">
        <button class="u-bgc-21ffff u-c-411e2f bn br--right br1 pv0 ph3 pointer white" type="submit">Check</button>
    </form>
</div>

<div class="pb4" id="results">
    {{#if error}}
        {{> error}}
    {{else}}
        {{> prs}}
    {{/if}}
</div>
