@font-face {
  font-family: 'squealerregular';
  src: url('fonts/squealer-webfont.eot');
  src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/squealer-webfont.woff2') format('woff2'),
    url('fonts/squealer-webfont.woff') format('woff'),
    url('fonts/squealer-webfont.ttf') format('truetype'),
    url('fonts/squealer-webfont.svg#squealerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    "Arial", sans-serif;
}

h1 {
  font-family: squealerregular;
  font-weight: normal;
}

.hacktoberfest {
  border-left: 4px solid #ff6300;
  padding-left: calc(1rem - 4px);
}

.main-content {
  flex-grow: 1;
  flex-shrink: 0;
}

#hfc-axis .hover-up {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.3s ease-in-out; /** Firefox **/
  -o-transition: all 0.3s ease-in-out; /** Opera **/
}
#hfc-axis:hover .hover-up{
    color: #ec5c00;
    transform: translate(0,-8px);
    -webkit-transform: translate(0,-8px);
    -o-transform: translate(0,-8px); 
    -moz-transform: translate(0,-8px);
}

.bg-orange.bn.br--right.br1.pv0.ph3.pointer.white{
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.6s ease-in-out; /** Firefox **/
  -o-transition: all 0.6s ease-in-out; /** Opera **/
}
.bg-orange.bn.br--right.br1.pv0.ph3.pointer.white:hover {
  color: #26347A;
}