@font-face {
  font-family: 'squealerregular';
  src: url('fonts/squealer-webfont.eot');
  src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/squealer-webfont.woff2') format('woff2'), url('fonts/squealer-webfont.woff') format('woff'), url('fonts/squealer-webfont.ttf') format('truetype'), url('fonts/squealer-webfont.svg#squealerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}


/*Cover removed as it required the background to be black*/


/*Style the cover*/


/*.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  z-index: -1;
  background: transparent url(../img/cover.png) repeat top center;
  animation: moveCover 75s linear infinite;
  -moz-animation: moveCover 75s linear infinite;
  -ms-animation: moveCover 75s linear infinite;
  -webkit-animation: moveCover 75s linear infinite;
}*/


/*Move Cover*/


/*@keyframes moveCover {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes moveCover {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes moveCover {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes moveCover {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}*/


/*Style stars*/

.stars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.1);*/
  display: block;
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStars 20s linear infinite;
  -ms-animation: moveStars 20s linear infinite;
  -moz-animation: moveStars 20s linear infinite;
  -webkit-animation: moveStars 20s linear infinite;
}


/*Had to add more stars and offset them*/

.starsTwo {
  position: absolute;
  top: 20%;
  /*bottom: 0;*/
  left: 20%;
  /*right: 0;*/
  height: 100%;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.1);*/
  display: block;
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStarsTwo 10s linear infinite;
  -ms-animation: moveStarsTwo 10s linear infinite;
  -moz-animation: moveStarsTwo 10s linear infinite;
  -webkit-animation: moveStarsTwo 10s linear infinite;
}


/*Had to add more stars and offset them*/

.starsThree {
  position: absolute;
  top: -20%;
  /*bottom: 0;*/
  left: -20%;
  /*right: 0;*/
  height: 100%;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.1);*/
  display: block;
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStarsThree 30s linear infinite;
  -ms-animation: moveStarsThree 30s linear infinite;
  -moz-animation: moveStarsThree 30s linear infinite;
  -webkit-animation: moveStarsThree 30s linear infinite;
}


/*Animate stars group one*/

@keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Animate stars group two*/

@keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*Animate stars group three*/

@keyframes moveStarsThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes moveStarsThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes moveStarsThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveStarsThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Style clouds*/

.cloud {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.1);*/
  display: block;
  z-index: -1;
  background: transparent url(../img/clouds.png) repeat top center;
  animation: moveCloud 200s linear infinite;
  -moz-animation: moveCloud 200s linear infinite;
  -ms-animation: moveCloud 200s linear infinite;
  -webkit-animation: moveCloud 200s linear infinite;
}


/*Move clouds*/

@keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

h1 {
  font-family: squealerregular;
  font-weight: normal;
}

.hacktoberfest {
  border-left: 4px solid #ff6300;
  padding-left: calc(1rem - 4px);
}

.main-content {
  flex-grow: 1;
  flex-shrink: 0;
}
