@font-face {
  font-family: 'squealerregular';
  src: url('fonts/squealer-webfont.eot');
  src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/squealer-webfont.woff2') format('woff2'), url('fonts/squealer-webfont.woff') format('woff'), url('fonts/squealer-webfont.ttf') format('truetype'), url('fonts/squealer-webfont.svg#squealerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}


/*Style group one stars*/

.stars {
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStars 15s linear infinite;
  -ms-animation: moveStars 15s linear infinite;
  -moz-animation: moveStars 15s linear infinite;
  -webkit-animation: moveStars 15s linear infinite;
}


/*Had to add more stars and offset them*/

.starsTwo {
  top: -20%;
  left: -20%;
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStarsTwo 20s linear infinite;
  -ms-animation: moveStarsTwo 20s linear infinite;
  -moz-animation: moveStarsTwo 20s linear infinite;
  -webkit-animation: moveStarsTwo 20s linear infinite;
}


/*Had to add more stars and offset them*/

.starsThree {
  top: 20%;
  left: 20%;
  background: transparent url(../img/stars.png) repeat top center;
  z-index: -1;
  animation: moveStarsTwo 10s linear infinite;
  -ms-animation: moveStarsTwo 10s linear infinite;
  -moz-animation: moveStarsTwo 10s linear infinite;
  -webkit-animation: moveStarsTwo 10s linear infinite;
}


/*Animate stars group one*/

@keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveStars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Animate stars group two and three*/

@keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes moveStarsTwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*Style clouds*/

.cloud {
  display: block;
  z-index: -1;
  background: transparent url(../img/clouds.png) repeat top center;
  animation: moveCloud 200s linear infinite;
  -moz-animation: moveCloud 200s linear infinite;
  -ms-animation: moveCloud 200s linear infinite;
  -webkit-animation: moveCloud 200s linear infinite;
}


/*Animate clouds*/

@keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes moveCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

h1 {
  font-family: squealerregular;
  font-weight: normal;
}

.hacktoberfest {
  border-left: 4px solid #ff6300;
  padding-left: calc(1rem - 4px);
}

.main-content {
  flex-grow: 1;
  flex-shrink: 0;
}
