@font-face {
    font-family: 'squealerregular';
    src: url('fonts/squealer-webfont.eot');
    src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/squealer-webfont.woff2') format('woff2'),
    url('fonts/squealer-webfont.woff') format('woff'),
    url('fonts/squealer-webfont.ttf') format('truetype'),
    url('fonts/squealer-webfont.svg#squealerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    display: block;
    min-width: 320px;
    background: #1b1716;
    background: -moz-linear-gradient(left, #252420 0%, #1b1716 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #252420), color-stop(100%, #1b1716));
    background: -webkit-linear-gradient(left, #252420 0%, #1b1716 100%);
    background: -o-linear-gradient(left, #252420 0%, #1b1716 100%);
    background: -ms-linear-gradient(left, #252420 0%, #1b1716 100%);
    background: linear-gradient(to right, #252420 0%, #1b1716 100%);
    color: white;
    position: relative;
    font-family: proxima-nova, 'helvetica neue', sans-serif;
}

a {
    color: white;
}

a:hover, a:active, a:visited {
    color: #a8a8a8;
}

h1, h2, h3 {
    line-height: 1.3;
    font-weight: 400;
    color: white;
    text-align: center;
}

h1 {
    font-family: squealerregular;
    font-size: 2.5em;
    padding-top: 10%;
}

h2, h3 {
    font-size: 2em;
}

@media screen and (min-width: 450px) {
    h1 {
        font-size: 4em;
        padding-top: 5%;
    }
}

@media screen and (min-width: 750px) {
    h1 {
        font-size: 5em;
        padding-top: 4%;
    }

    h2, h3 {
        font-size: 3em;
    }
}

@media screen and (min-width: 850px) {
    h1 {
        font-size: 6em;
        padding-top: 2%;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    padding: 0 20px;
}

#title-wrapper {
    padding: 70px 0 40px 0;
    display: block;
    z-index: 100;
    position: relative;
    width: 100%;
    height: auto;
}

#title-wrapper a {
    color: #d3853d;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

#results .avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.postfix.button {
    background-color: #b0581d;
}

.postfix.button:focus,
.postfix.button:hover {
    background-color: #8c4618;
}

.fork-link {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.disclaimer {
    font-size: 0.8rem;
}

#open-issues h3 {
    font-family: squealerregular;
    font-size: 2.0em;
}

.issue h5 a {
    color: #2b81af;
}

.issue-title {
    color: #d3853d;
}

.issue .avatar {
    width: 64px;
    height: 100%;
    vertical-align: middle;
}

.issue .label {
    color: black;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em
}

.resp-sharing-button span {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--google:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
#sharing {
    display: table;
    margin: 0 auto;
}
