@font-face {
  font-family: 'squealerregular';
  src: url('fonts/squealer-webfont.eot');
  src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/squealer-webfont.woff2') format('woff2'),
    url('fonts/squealer-webfont.woff') format('woff'),
    url('fonts/squealer-webfont.ttf') format('truetype'),
    url('fonts/squealer-webfont.svg#squealerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    "Arial", sans-serif;
}

h1 {
  font-family: squealerregular;
  font-weight: normal;
}

.hacktoberfest {
  border-left: 4px solid #ff6300;
  padding-left: calc(1rem - 4px);
}

.main-content {
  flex-grow: 1;
  flex-shrink: 0;
}

.pr-item {
  word-break: break-word;
}
