@font-face {
  font-family: 'squealerregular';
  src: url('fonts/squealer-webfont.eot');
  src: url('fonts/squealer-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/squealer-webfont.woff2') format('woff2'), url('fonts/squealer-webfont.woff') format('woff'), url('fonts/squealer-webfont.ttf') format('truetype'), url('fonts/squealer-webfont.svg#squealerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #412B3B;
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}


h1 {
  font-family: squealerregular;
  font-weight: normal;
}

.hacktoberfest {
  border-left: 4px solid #ff6300;
  padding-left: calc(1rem - 4px);
}

.main-content {
  flex-grow: 1;
  flex-shrink: 0;
}

.pr-item {
  word-break: break-word;
}

.u-bgc--f4f4f4 {
  background-color: #f4f4f4;
}

.u-bgc-21ffff {
    background-color: #21ffff;
}

.u-c-411e2f {
    color: #411e2f;
}

.u-c-ff9a56 {
    color: #FF4F12;
}

.fb-share-button a {
    color: white;
    text-decoration: none;
    font-size:.875rem;
}

.bn.br--left.br1.ph2 {
    transition: box-shadow ease-in-out .2s;
}

.bn.br--left.br1.ph2:focus {
    outline: none;
}
