/*Style group one stars*/

.stars {
    background: transparent url(../img/stars.png) repeat top center;
    z-index: -1;
    animation: move-stars 15s linear infinite;
    -ms-animation: move-stars 15s linear infinite;
    -moz-animation: move-stars 15s linear infinite;
    -webkit-animation: move-stars 15s linear infinite;
}


/*Had to add more stars and offset them*/

.stars-two {
    top: -20%;
    left: -20%;
    background: transparent url(../img/stars.png) repeat top center;
    z-index: -1;
    animation: move-stars-two 20s linear infinite;
    -ms-animation: move-stars-two 20s linear infinite;
    -moz-animation: move-stars-two 20s linear infinite;
    -webkit-animation: move-stars-two 20s linear infinite;
}


/*Had to add more stars and offset them*/

.stars-three {
    width: auto !important;
    height: auto !important;
    top: 20%;
    left: 20%;
    background: transparent url(../img/stars.png) repeat top center;
    z-index: -1;
    animation: move-stars-two 10s linear infinite;
    -ms-animation: move-stars-two 10s linear infinite;
    -moz-animation: move-stars-two 10s linear infinite;
    -webkit-animation: move-stars-two 10s linear infinite;
}


/*Animate stars group one*/

@keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Animate stars group two and three*/

@keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*Style clouds*/

.cloud {
    z-index: -1;
    background: transparent url(../img/clouds.png) repeat top center;
    animation: move-cloud 200s linear infinite;
    -moz-animation: move-cloud 200s linear infinite;
    -ms-animation: move-cloud 200s linear infinite;
    -webkit-animation: move-cloud 200s linear infinite;
}


/*Animate clouds*/

@keyframes move-cloud {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-cloud {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-cloud {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-cloud {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
